.label-agregarActividad{
    text-align: center;
}

.md ion-title{
    padding-left: 0px;
    padding-right: 0px;
}

.ios ion-title{
    padding-left: 0px;
    padding-right: 0px;
}

.md .buttons-first-slot{
    margin-left: -5px;
}

.md ion-list-header{
    font-size: 22px;
    font-weight: bold;
}

